<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Evennto" href="/tabs/eventos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Añadir evento" href="/tabs/add-event">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Add-event</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Detalle" href="/tabs/evento-detalle">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Evento-detalle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Acerca de" href="/tabs/acerca-de'">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Acerca-de'</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
